.lang {
  margin-right: 30px;
  :global {
    .next-radio-wrapper,
    .next-radio-wrapper:hover {
      padding: 0 25px;
      border: 1px solid hsla(0, 0%, 100%, 0.3);
      background-color: #337ab7;
      .next-radio-label {
        color: #fff;
      }
    }
    .next-radio-wrapper.checked {
      background-color: hsla(0, 0%, 100%, 0.3);
      border: 1px solid hsla(0, 0%, 100%, 0.3);
      .next-radio-label {
        color: #fff;
      }
    }
    .next-radio-wrapper:first-child {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    .next-radio-wrapper:last-child {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
}
